li{
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 3vw 3vh 3vw;
    background-color:#201F1F;
    color:#F5F5F5;
    align-items:center;
    
    border: 1px solid #201F1F;
    border-radius: 10px;

    #text{
        width: 10vw;
    }
    .done-todo{
        text-decoration: line-through;
        color:#575353;
    }
    button{
        background: transparent;
        border: none;
        color: #F5F5F5;
        transition: .1s;
        font-size: 2vh;
    }
    button:hover{
        color: #bebebe;
        transition: .1s;
    }
    input[type=checkbox]{
        accent-color: #575353;
        width: 2vw;
        height: 2vh;
    }
}